
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% images.each_with_index do |img, idx| %>
      <% if idx == 0 %>
        <div class="carousel-item active">
          <%= link_to(image_tag(img, class: "d-block w-100"), links[idx], { class: "carousel-img" }) %>
          <div class="carousel-caption">
            <%= link_to info[idx], links[idx] %>
          </div>
        </div>
      <% else %>
        <div class="carousel-item">
          <%= link_to(image_tag(img, class: "d-block w-100"), links[idx], { class: "carousel-img" }) %>
          <div class="carousel-caption">
            <%= link_to info[idx], links[idx] %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<script>

$(document).ready(function() {
  $('.carousel').carousel({
    interval: 4000
  });
});

</script>