.resize {
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;
}

.resize-promo {
  height: auto; 
  width: auto; 
  max-width: 50px; 
  max-height: 50px;
}

.resize-carousel {
  height: auto; 
  width: auto; 
  max-width: 600px; 
  max-height: 400px;
}

.resize-product {
  height: auto; 
  width: auto; 
  max-width: 400px; 
  max-height: 400px;
}

.product {
  width: 180px;
  height: 250px;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  gap: 20px;
  /* gap: calc( 100% - (140 * 5) + 20); */
}

.margins {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Tabela do carrinho */


/* .carts table {
  border-collapse: collapse;
}
.carts td {
  padding: 0.5em;
}
.carts td.quantity {
  white-space: nowrap;
}
.carts td.quantity::after {
  content: "x";
}
.carts td.price {
  font-weight: bold;
  padding-top: 1em;
}
.carts th {
  text-align: right;
}
.carts th.price {
  border-top: solid thin;
} */
