.resize {
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;
}

.resize-promo {
  height: auto; 
  width: auto; 
  max-width: 50px; 
  max-height: 50px;
}

.resize-carousel {
  height: auto; 
  width: auto; 
  max-width: 600px; 
  max-height: 400px;
}

.resize-product {
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}

.product {
  width: 180px;
  height: 250px;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  gap: 20px;
  /* gap: calc( 100% - (140 * 5) + 20); */
}

.margins {
  margin-top: 20px;
  margin-bottom: 20px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    /* background-color: red; */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px;
    font-size: 18px;
  }
  
/* #myBtn:hover {
  background-color: #555;
} */

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}


/* Tabela do carrinho */


/* .carts table {
  border-collapse: collapse;
}
.carts td {
  padding: 0.5em;
}
.carts td.quantity {
  white-space: nowrap;
}
.carts td.quantity::after {
  content: "x";
}
.carts td.price {
  font-weight: bold;
  padding-top: 1em;
}
.carts th {
  text-align: right;
}
.carts th.price {
  border-top: solid thin;
} */
