.resize {
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;
}

.resize-promo {
  height: auto; 
  width: auto; 
  max-width: 50px; 
  max-height: 50px;
}

.resize-carousel {
  height: auto; 
  width: auto; 
  max-width: 400px; 
  max-height: 400px;
}

.resize-product {
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}

.product {
  width: 180px;
  height: 250px;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  gap: 20px;
  /* gap: calc( 100% - (140 * 5) + 20); */
}

.margins {
  margin-top: 20px;
  margin-bottom: 20px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.carousel-caption {
  color: white;
  background-color: rgba(32, 27, 102, 0.363);
  
}

.carousel-caption a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.product-name {
  font-weight: bold;
  font-size: 40px;
}


.clean-button {
  border: none;
  background-color: white;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 1px;
  cursor: pointer;
  border-radius: 5px;
}


.fixedContainer {
    background-color:rgb(199, 25, 25);
    position: fixed;
    padding: 2em;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
}

/* Tabela do carrinho */


/* .carts table {
  border-collapse: collapse;
}
.carts td {
  padding: 0.5em;
}
.carts td.quantity {
  white-space: nowrap;
}
.carts td.quantity::after {
  content: "x";
}
.carts td.price {
  font-weight: bold;
  padding-top: 1em;
}
.carts th {
  text-align: right;
}
.carts th.price {
  border-top: solid thin;
} */
