<tr>
  <td class="quantity">
  <%= line_item.quantity %>
  </td>
  <td>
  <%= line_item.product.name %>
  </td>
  <td>
  <%= number_to_currency(line_item.total_price, unit: "R$ ", separator: ",", delimiter: ".") %>
  </td>
</tr>