<tr>
  <td>
  <%= sale.number %>
  </td>
  <td>
  <%= sale.user.username %>
  </td>
  <td>
  <%= number_to_currency(sale.value, unit: "R$ ", separator: ",", delimiter: ".") %>
  </td>
  <td>
    <%= link_to "excluir", remove_path, class: "btn btn-primary" %>
  </td>
</tr>